<phpunit
    bootstrap="vendor/autoload.php"
    cacheResultFile=".phpunit.cache/.phpunit.result.cache"
    backupGlobals="false"
    colors="true"
    verbose="true"
    executionOrder="random">

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="display_errors" value="true"/>
    </php>

	<testsuites>
		<testsuite name="Tests">
			<directory phpVersion="7.4.0" phpVersionOperator=">=" suffix=".php">tests</directory>
		</testsuite>
	</testsuites>

    <coverage cacheDirectory=".phpunit.cache/"
        includeUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="false">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <!-- <exclude>
            <directory suffix=".php">src/generated</directory>
            <file>src/autoload.php</file>
        </exclude> -->
        <report>
            <html outputDirectory="tests/coverage/html" lowUpperBound="50" highLowerBound="90"/>
            <!-- <xml outputDirectory="tests/coverage/xml"/> -->
            <clover outputFile="coverage.xml"/>
            <!-- <php outputFile="tests/coverage/coverage.php"/> -->
            <!-- <text outputFile="tests/coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/> -->
        </report>
    </coverage>

    <logging>
        <text outputFile="tests/logfile.txt"/>
    </logging>
</phpunit>
